/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

div.sub-menu
  text-align: center
  font-size: 1.5em
  padding: 15px
  border-bottom: thin solid black

body
  background-color: #1c2833 
  color: #333a44
  font-family: "Tahoma", Arial, Helvetica, sans-serif

div.main
  background: transparent url('../images/bg_top-tall.jpg') no-repeat 0 0
  background-size: contain

div.content
  margin: 20px auto 20px auto
  width: 80%
  padding: 10px 20px
  background-color: #cdccc6
  background-color: rgba(255, 255, 255, 0.8)
  background: rgba(255, 255, 255, 0.8)
  -moz-border-radius: 5px
  -webkit-border-radius: 5px


@media (max-width: 979px)
  div.navbar-inner
    background-color: rgba(255,255,255,0.8)